.content {
	position: fixed;
	display: inline-block;
	width: 260px;
	height: calc(100vh - 50px);
	background-color: #f9f9f9;
	.boxFooter {
		position: absolute;
		bottom: 0;
		width: calc(100% - 20px);
		height: 40px;
		display: flex;
		margin: 10px;
		border-radius: 5px;
		border: 1px solid #f6f6f6;
		box-shadow: 0 1px 3px #03030338;
		a {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px;
			cursor: pointer;
			text-decoration: none;
			color: inherit;
		}
		svg {
			width: 16px;
			height: 16px;
		}
	}
	.user {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
		height: 200px;
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
		}
		span {
			font-size: 14px;
		}
		.uname {
			font-weight: bolder;
			letter-spacing: 1px;
			margin-top: 10px;
		}
	}
	h2 {
		color: #98a6ad !important;
		font-size: 12px;
		margin-left: 20px;
	}

	ul {
		width: 230px;
		margin: 10px 15px;
		a {
			text-decoration: none;
			color: #777;
		}
		li {
			display: flex;
			align-items: center;
			gap: 15px;
			height: 32px;
			line-height: 32px;
			list-style: none;
			font-size: 14px;
			border-radius: 5px;
			padding-left: 10px;
			// cursor: pointer;
			&:hover {
				background-color: #ececec;
			}
		}
	}
}

.box {
	width: 260px;
	height: calc(100vh - 50px);
	display: inline-block;
}
