.content {
	display: inline-block;
	width: 260px;
	position: absolute;
	bottom: 60px;
	top: 53px;
	vertical-align: top;
	background-color: #f9f9f9;
	.tag {
		display: flex;
		box-shadow: 4px 0 5px #0000000d, 0 0 0 #0000000d;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			height: 40px;
			margin: 10px 0;
			cursor: pointer;
			&:hover {
				background-color: #e9e9e9;
				border-radius: 10px;
			}
		}
	}
	.box {
		padding: 20px;
		width: 100%;
		.title {
			margin-bottom: 10px;
		}
		ul {
			width: 100%;
			li {
				display: flex;
				list-style: none;
				font-size: 14px;
				padding: 10px 0;
				div {
					// box-sizing: border-box;
					width: 40px;
					height: 40px;
					border-radius: 5px;
					overflow: hidden;
					box-shadow: 2px 2px 3px #c8c4c4;

					img {
						width: 40px;
						height: 40px;
						object-fit: cover;
					}
				}
				span {
					flex: 1;
					margin-left: 15px;
				}
			}
		}
		.sec {
			background-color: #fefefe;
			box-shadow: 0 1px 3px #0000000d;
			border-radius: 2px;
			li {
				align-items: center;
				justify-content: space-between;
				span {
					flex: 1;
					color: #9c9c9c;
					letter-spacing: 1px;
				}
				span:nth-child(2) {
					flex: 0 1 auto;
					display: block;
					padding: 2px 7px;
					letter-spacing: 0;
					border-radius: 10px;
					text-align: right;
					margin: 0 15px 0 0;
					color: #fff;
					font-weight: 300;
					font-size: 12px;
					background-color: rgb(93, 189, 231);
				}
			}
		}
	}
}
